* {
  box-sizing: border-box;
}
body {
  display: inline-block;
  width:100%;
  font-family: Helvetica, Arial, sans-serif;
  min-height: 100vh;
}

.content {
  background-color: #84ceeb;
  display: inline-block;
  width: 100%;
  margin-top: 50px 10px 50px 10px;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

h2{
  font-size: 30px;
}

span.completed {
  color: #666666;
  text-decoration: line-through;
}

h1 {
  font-size: 34px;
  font-style: italic;
}

.login-box {
  display: block;
  position: absolute;
  width:100%;
  top: 0px;
  left: 0px;
  margin: 10px;
  width: 100%;
}

.login-menu {
  background-color: #5ab9ea;
  padding-inline-start: 0px;
  display: flex;
  border-bottom: 2px solid darkblue;
  flex-direction: row;
  align-items: flex-start;
}
.login-button {
  font-variant: small-caps;
  background-color: #8860d0;
  color: white;
  border: 1px solid darkgrey;
  border-radius: 10%;
  padding: 10px;
  margin: 10px;
  text-decoration: none;
}

.login-button:hover {
  color: black;
  background-color: lightgrey;
}

.filter {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style-type: none;
  padding-inline-start: 0px;

}

.nav-button {
  text-align: center;
  font-size: 24px;
  font-variant: small-caps;
  color: white;
  text-decoration: none;
  padding: 5px;
  background-color: #5680e9;
  border: 1px solid darkgrey;
  border-radius: 10%;
  width: 150px;
  text-align: center;
  margin: 10px;
}

.nav-button:hover {
  background-color: #ccc;
  color: black;
}

ul.list {
  padding-inline-start: 0px;
  display: flex;
  flex-direction: column;
}
li {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.todo-block {
  display: flex;
  background-color: #5ab9ea;
  flex-direction: column;
  width: 100%;
  margin: 0;
  padding: 10px;
}

.task-list {
  background-color: white;
  margin: 5px;
  display: flex;
}
.todo-block{
  border-top: 2px solid darkblue;
  border-bottom: 2px solid darkblue;
}

.action {
  font-size: 22px;
  margin: 5px 5px 5px 0;
  padding:5px 5px 5px 0;
  font-style: italic;
}

.task-button {
  border: 1px solid darkgrey;
  border-radius: 10%;
  background-color: #5680e9;
  font-variant: small-caps;
  width:90px;
  color: white;
  font-size: 14px;
  margin: 3px;
}

.task-button:hover{
  background-color: darkgrey;
  color: black;
}

.edit_button {
  background-color: #5680e9;
  text-align: center;
  color: white;
  border: 1px solid darkgrey;
  border-radius: 10%;
  text-decoration: none;
  font-size: 14px;
  font-variant: small-caps;
  padding: 2px;
  width: 85px;
  margin: 0;
}

.edit_button:hover {
  background-color: darkgrey;
  color: black;
}

.act {
  border: 1px solid grey;
  font-size: 18px;
  width: 95%;
  padding: 5px;
}

.index-view {
  width: 100%;
}
span {
  border: 1px solid grey;
  width: 60%;
  padding: 5px;
}

.new-todo {
  display: block;
  width: 80%;
  margin: 0;
}

.new-todo-form {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.edit-block {
  text-align: center;
  border: 1px solid black;
  display: block;
  margin: 0;
  flex-direction: row;
  width: 80%;
}
.edit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.edit-label {
  color: white;
  background-color: grey;
  text-align: center;
  font-size: 30px;
  padding: 10px;
  border: 1px solid darkgrey;
  border-radius: 10%;
  margin: 10px;
}

.edit-text {
  font-size: 18px;
  padding-top: 15px;
  width: 85%;
}
 input.save-button {
   display: block;
   font-variant: small-caps;
   font-size: 14px;
   background-color: #8860d0;
   border-radius: 10%;
   color: white;
   width: 150px;
   padding: 10px;
   margin-top: 20px;
 }

 .save-button:hover{
   background-color: lightgrey;
   color: black;
 }

 .return {
   border-radius: 10%;
   background-color: aliceblue;
   width: 70px;
   padding: 5px;
   margin: 10px;
 }

.auth-page-header{
  display: block;
  margin: 90px 10px 10px 10px;
}
.auth-page-form {
  display: flex;
  flex-direction: column;
}

.auth-page {
  background-color: #c1c8e4;
  display: flex;
  margin-top: 50px;
  flex-direction: column;
  padding-bottom: 20px;
}

.auth {
  font-size: 18px;
  margin: 10px;
  width: 300px;
}
