<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% block title %}My To-Dos{% endblock %}</title>

    <link rel="stylesheet" href="{{ url_for("static", filename="style.css") }}" type="text/css" />
  </head>
  <body>
    <div class="login-box">
    <ul class="login-menu">
    {% if g.user %}
      <li><span>{{ g.user['username'] }}</span>
      <li><a class="login-button" href="{{ url_for('auth.logout') }}">log Out</a>
    {% else %}
      <li><a class="login-button" href="{{ url_for('auth.register') }}">register</a>
      <li><a class="login-button" href="{{ url_for('auth.login') }}">log in</a>
    {% endif %}
    </ul>
  </div>
  <section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% block content %}{% endblock %}
  </section>
  <footer>
    <p> Joey Zimmerman & Kate Mundale<p>
  </footer>
