<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <ul>
    {% if g.user %}
      <li><span>{{ g.user['username'] }}</span>
      <li><a href="{{ url_for('auth.logout') }}">Log Out</a>
    {% else %}
      <li><a href="{{ url_for('auth.register') }}">Register</a>
      <li><a href="{{ url_for('auth.login') }}">Log In</a>
    {% endif %}
    </ul>

    <title>{% block title %}My To-Dos{% endblock %}</title>

    <link rel="stylesheet" href="{{ url_for("static", filename="style.css") }}" type="text/css" />
  </head>
  <body>
    {% block content %}
    {% endblock %}
  </body>
</html>
