{% extends 'base.html' %}

{% block content %}
<div class="edit-block">
<form class="edit" method="post" for="description">
  <h1>edit todo</h1>
  <textarea class="edit-text" name="description" id="description">{{ request.form['description'] or description['description']}}</textarea>
  <input class="save-button" type="submit" value="save new changes">
</form>

<button class="return" onclick="goBack()">Go Back</button>

</div>
<script>
  function goBack() {
    window.history.back()
  }
  </script>

  {% endblock %}
