{% extends 'base.html' %}

{% block content %}
  <h1>A simple to-do application</h1>

  <nav>
    <h2>Filter</h2>
    <ul class="filter">
      <li><a href="{{ url_for('todos.show_completed') }}" class="nav-button">Completed</a></li>
      <li><a href="{{ url_for('todos.show_unfinished') }}" class="nav-button">Unfinished</a></li>
      <li><a href="{{ url_for('todos.index') }}" class="nav-button">All</a></li>
    </ul>
  </nav>


  <ul>
    {% for todo in todos %}


      <li class="{{ 'completed' if todo['completed'] }} task-list">
      {{ todo['description'] }}
        <form method="post" action="{{ url_for('todos.switch', id=todo['id']) }}">
          <input class="task-button" name="completed" type="submit" value="Completed"/>
        </form>

        <form method="post" action="{{ url_for('todos.delete', id=todo['id']) }}">
          <input class="task-button" name="delete" type="submit" value="Delete"/>
        </form>
        <a class="edit_button" href="{{ url_for('todos.update', id = todo['id']) }}">Edit Todo</a>

      </li>
    {% endfor %}
  </ul>
<div>
  <form method="post">
      <label for="action">What needs to be done?</label>
      <input class="act" type="text" name="action" id = "action" />
      <input class="act_button" type="submit" value="Submit" />
</form>
</div>
{% endblock %}
