{% extends 'base.html' %}

{% block content %}
  <h1>a simple to-do application</h1>

  <nav class="index-view">
    <ul class="filter">
      <li><a href="{{ url_for('todos.show_completed') }}" class="nav-button">completed</a></li>
      <li><a href="{{ url_for('todos.show_unfinished') }}" class="nav-button">unfinished</a></li>
      <li><a href="{{ url_for('todos.index') }}" class="nav-button">all</a></li>
    </ul>
  </nav>

<div class="todo-block">
  <ul class="list">
    {% for todo in todos %}

     <li><a class="edit_button" href="{{ url_for('todos.update', id = todo['id']) }}">edit todo</a>

      <span class="{{ 'completed' if todo['completed'] }} task-list">
      {{ todo['description'] }}
      </span>
        <form method="post" action="{{ url_for('todos.switch', id=todo['id']) }}">
          <input class="task-button" name="completed" type="submit" value="completed"/>
        </form>

        <form method="post" action="{{ url_for('todos.delete', id=todo['id']) }}">
          <input class="task-button" name="delete" type="submit" value="delete"/>
        </form>

        <!-- <form method="post" action="{{ url_for('todos.update', id=todo['id']) }}"
         <input class="task-button" name="edit" type="submit" value="Edit Todo"
        </form> -->

      </li>
    {% endfor %}
  </ul>
  </div>
<div class="new-todo">
  <form class="new-todo-form" method="post">
      <label class="action" for="action">What needs to be done?</label>
      <input class="act" type="text" name="action" id = "action" />
      <input class="save-button" type="submit" value="submit" />
</form>
</div>
{% endblock %}
