{% extends 'base.html' %}


{% block content %}

<h2 class="auth-page-header">Register</h2>
<div class="auth-page">
  <form class="auth-page-form" method="post">
    <label class="auth" for="email">Email</label>
    <input class="auth" name="email" id="email" required>
    <label class="auth" for="password">Password</label>
    <input class="auth" type="password" name="password" id="password" required>
</div>
    <input class="save-button" type="submit" value="Register">
    <button class="return" onclick="goBack()">Go Back</button>


  </form>
  <script>
    function goBack() {
      window.history.back()
    }
    </script>
{% endblock %}
